---
layout: archive
title: "Inclusion"
permalink: /isu/
author_profile: true
---

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-W0VWTM07VE"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-W0VWTM07VE');
  </script>
</head>

{% include base_path %}

{% for post in site.inclusion reversed %}
  {% include archive-single.html %}
{% endfor %}
